<div class="row">
  <div class="col s12">
    <form class="form">
      <div class="form-group">
        <div class="label-wrapper">
          <label class="text-label">Profile visible to anyone</label>
        </div>
        <div class="toggle-wrapper">
        <label class="switch">
          <input type="checkbox">
          <span class="slider round"></span>
        </label>
        </div>
      </div>
      <hr>
      <div class="form-group">
        <div class="label-wrapper">
          <label class="text-label">Enable tracking when app is not open</label>
        </div>
        <div class="toggle-wrapper">
          <label class="switch">
            <input type="checkbox">
            <span class="slider round"></span>
          </label>
        </div>
      </div>
      <hr>
      <input type="submit" value="Submit" class="btn">
    </form>
  </div>
</div>

