<div class="main">

  <div class="row">
    <div class="col s6">
      <button class="btn-friends">View friends</button>
    </div>
    <div class="col s6">
      <form class="form">
        <input type="search" id="site-search" name="q" aria-label="Search friends" placeholder="Search">
      </form>
    </div>
  </div>

  <div class="row">
    <div class="list-type1 col s12">
      <ol>
        <li><a href="#">Tom Doe</a></li>
        <li><a href="#">Tom Doe</a></li>
        <li><a href="#">Tom Doe</a></li>
      </ol>
    </div>
  </div>
</div>
