<div class="row charts">
  <div class="col s12">
    <div class="chart-wrapper">
      <h4 class="chart-title">Aantal uur slaap voor laatste 7 dagen</h4>
      <div class="linechart">
        <!--<canvas class="chart-amount" #chartAmount width="300" height="200">{{amountchart}}</canvas>-->
        <canvas width="300" height="200" id="lineChart"></canvas>
      </div>
    </div>
  </div>
</div>

<div class="row charts">
  <div class="col s6">
    <div class="chart-wrapper">
      <div class="doughnut-chart">
        <!--<canvas class="chart-deep" #chartDeep>{{deepchart}}</canvas>-->
        <canvas id="doughnutChart2"></canvas>
      </div>
    </div>
  </div>
  <div class="col s6">
    <h4 class="chart-title">Good job! Avg is above 3 :)</h4>
    <!--<h4 class="chart-title">{{ deepAvg }}</h4>-->
  </div>
</div>

<div class="row charts">
  <div class="col s6">
    <div class="chart-wrapper">
      <div class="doughnut-chart">
        <!--<canvas class="chart-deep" #chartDeep>{{deepchart}}</canvas>-->
        <canvas id="doughnutChart1"></canvas>
      </div>
    </div>
  </div>
  <div class="col s6">
    <h4 class="chart-title">Good job! Avg is above 3 :)</h4>
    <!--<h4 class="chart-title">{{ deepAvg }}</h4>-->
  </div>
</div>

  <!--<h4 class="chart-title">Gemiddelde slaapdiepte</h4>
  <div class="doughnut-container">
    <div class="doughnut"><canvas class="chart-deep" #chartDeep>{{deepchart}}</canvas></div>
  </div>

  <h4 class="chart-title">Gemiddelde uitgerustheid</h4>
  <div class="doughnut-container">
      <div class="doughnut"><canvas class="chart-rest" #chartRest>{{restchart}}</canvas></div>
  </div>
</div>-->
