<div class="main">
	<div class="container">
    <div class="row">
      <div class="col s12">
        <div class="title-page">
          <h1>Hey there sleepyhead!</h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <div class="subtitle-page">
          <h2>Your feed</h2>
        </div>
      </div>
    </div>

		<div class="gallery">

			<div class="gallery-item" tabindex="0">

				<img src="https://images.unsplash.com/photo-1511765224389-37f0e77cf0eb?w=500&h=500&fit=crop" class="gallery-image" alt="">

				<div class="gallery-item-info">
          <div class="row">
            <div class="col s12">
              <h3>Jane Doe posted 1hr ago</h3>
              <p>Woooooohoooooooooooooooooooooooooo</p>
            </div>
          </div>
          <div class="row icon-group">
            <img src="../../../assets/comment.png" class="gallery-item-comment col s6">

            <img src="../../../assets/star.png" class="gallery-item-star col s6">
          </div>
			  </div>
	    </div>

      <div class="gallery-item" tabindex="0">

				<img src="https://images.unsplash.com/photo-1511765224389-37f0e77cf0eb?w=500&h=500&fit=crop" class="gallery-image" alt="">

				<div class="gallery-item-info">
          <div class="row">
            <div class="col s12">
              <h3>Jane Doe posted 1hr ago</h3>
              <p>Woooooohoooooooooooooooooooooooooo</p>
            </div>
          </div>
          <div class="row icon-group">
            <img src="../../../assets/comment.png" class="gallery-item-comment col s6">

            <img src="../../../assets/star.png" class="gallery-item-star col s6">
          </div>
			  </div>
	    </div>
    </div>
    <div class="mobileShow">
      <a href="#"><fa-icon icon="edit"></fa-icon></a>
    </div>
  </div>
</div>
